@model DojoManagmentSystem.Models.ClassSession

@{
    ViewBag.Title = "Details";
}

<div class="row col-sm-12">
    <p class="col-lg-8 mt-2">
        <a href="@Url.Action("Details", "Disciplines", new { @id = Model.DisciplineId })" class="h4">
            <i class="fas fa-arrow-left"></i> Back to Discipline
        </a>
    </p>
</div>
<div class="row details">
    @* Left Column *@
    <div class="col-xl-6 details-column">
        <div class="card bg-light col-sm-12">
            @* Implement the details/edit for the discipline *@
            <div class="card-body">
                @Html.Action("Edit", new { id = Model.Id })
            </div>
        </div>
    </div>
    @* Right Column *@
    <div class="col-xl-6 details-column">
        <div class="card bg-light col-sm-12">
            <div class="card-header">
                <h5 class="float-left">Attendance History</h5>
            </div>
            <div class="card-body">
                @Html.Action("List", "AttendanceSheet", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/Scripts/Modal.js")
        }
