@model IEnumerable<DojoManagmentSystem.Models.Discipline>

@{
    ViewBag.Title = "Index";
}

<h2>Disciplines</h2>

<div class="col-sm-12">
    <button type="button" class="btn btn-primary modal-link float-right mb-1" data-targeturl="/Disciplines/Create" >
        <i class="fas fa-plus"></i> Create Discipline
    </button>
</div>
@Html.Action("List")
@section Scripts {
        @Scripts.Render("~/Scripts/Modal.js")
    }
