@model IEnumerable<DojoManagmentSystem.Models.Member>

@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<h3>Member List</h3>
<br />

@Html.Action("List")

@section Scripts {
    @Scripts.Render("~/Scripts/Modal.js")
}